@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    padding: 0 50px;
}


/*-------NAVBAR------*/
.content-container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f9f8f6;
    opacity: 0.9;
    z-index: 2;
}

.header-logo {
    text-decoration: none;
    color: #5e5553;
    font-size: 18px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    position: relative;
    z-index: 3;
}

.header-logo img {
    width: 20px;
    height: auto;
    display: inline-block;
    border-radius: 50%;
    padding-bottom: 5px;
}

.header-logo:hover {
    text-decoration: none;
    color: #d7b787
}

.header-logo i:hover {
    color: #d7b787;
}


.header-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.header-burger {
    display: none;
}

.menu-list {
    display: flex;
    position: relative;
    z-index: 2;
    margin-bottom: 0;
}


.menu-list li {
    list-style: none;
    margin-left: 20px;
}

.menu-item {
    text-transform: uppercase;
    text-decoration: none;
    color: #5e5553;
    font-size: 18px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    margin-right: 20px;
}

.menu-item:hover {
    text-decoration: none;
    color: #d7b787;
}


@media(max-width:768px) {


    .header-body {
        height: 50px;
    }

    .header-burger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        cursor: pointer;
    }
    .header-burger span {
        background-color: #5e5553;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease;
    }
    .header-burger:before,
    .header-burger:after {
        content: '';
        background-color: #5e5553;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease;
    }
    .header-burger:before {
        top: 0;
    }
    .header-burger:after {
        bottom: 0;
    }
    .header-burger.active span {
        transform: scale(0);
    }
    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0;
        overflow: auto;
        transition: all 0.3s ease;
        background-color: #f9f8f6;
        padding: 70px 10px 20px;
        text-align: center;
    }
    .header-menu.active {
        top: 0;
    }
    .menu-list {
        display: block;
    }
    .menu-list li {
        margin-bottom: 100px;
    }
    .menu-item {
        font-size: 24px;
    }

}

.content {
    padding-top: 60px;
}

.section-wrapper {
    margin: 40px 20px;
}


/*-----------------CAROUSEL---------------*/

.carousel-item {
    max-height: 600px;
}

.carousel-content {
    position: absolute;
    top: 40%;
    bottom: 30%;
    left: 30%;
    right: 30%;
    z-index: 20;
    padding: 5px;

}

.carousel-heading {
    text-transform: uppercase;
    color: #f9f8f6;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}

/*-------Buttons with link---------*/
.sub-options button,
#main-subscription button,
#places button,
.carousel-item button {
    background-color: #763300;
}
.sub-options button a,
#main-subscription button a,
#places button a,
.carousel-item button a {
    text-decoration: none;
    color: #f9f8f6;
}
.sub-options button:hover,
#main-subscription button:hover,
#places button:hover,
.carousel-item button:hover {
    background: #f9f8f6;
}
.sub-options button:hover>a,
#main-subscription button:hover >a,
#places button:hover > a,
.carousel-item button:hover > a {
    color: #763300;
}

@media (max-width:600px) {
#main-subscription button,
#places button,
.carousel-item button {
    padding: 4px 10px;
    margin-top: 5px;
}
#main-subscription button a,
#places button a,
.carousel-item button a {
    font-size: 10px;
}

}

/*-------carousel media queries---------*/

@media(max-width:1024px) {
    .carousel-content {
        position: absolute;
        top: 35%;
        bottom: 40%;
        left: 15%;
        right: 15%;
        z-index: 20;
        padding: 5px;
    }
    .carousel-heading {
        font-size: 20px;
    }
    .location-button {
        font-size: 16px;
    }

}

@media(max-width:600px) {
    .carousel-item {
        margin-top: 50px;
    }
    .carousel-content {
        position: absolute;
        top: 30%;
        bottom: 40%;
        left: 15%;
        right: 15%;
        z-index: 20;
        padding: 5px;
    }

    .carousel-heading {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 4px;
    }
    .carousel-content .location-button {
        font-size: 10px;
    }

}

/*-------ABOUT---------*/

#about {
    overflow: hidden;
}

.place-photo {
    width: 100%;
    overflow: hidden;
}

.place-photo img {
    height: 100%;
    width: 100%;
}

@media(max-width:600px){
    #about .section-text {
        margin-bottom: 5px;
    }
}

/*PROMO SECTION*/




.section-text {
    font-family: "Lato", sans-serif;
    margin-bottom: 5px;
}

.subheading-text {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 600;
    color: #763300;
    margin-bottom: 16px;

}

#promo .place-photo {
    height: 100%;
}

.form-group label {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: #763300;
    margin-bottom: 5px;
}

#promo .location-button {
    background-color: #763300;
    color: #f9f8f6;
    margin: 0 auto;
}

#promo .location-button:hover {
    background-color: #f9f8f6;
    color: #763300;
}

#promo .heading-text,
#about .heading-text,
#places .heading-text {
    padding-top: 0;
    margin-bottom: 1rem;
}

.break-line {
    text-align: center;
    margin-bottom: 1rem;
}
.break {
    display: inline-block;
    width: 20%;
    margin-bottom: 8px;

}

.break-line img {
    width: 20px;
    height: auto;
    display: inline-block;
    border-radius: 50%;
    padding-bottom: 5px;
}

.form-group {
    width: 90%;
}


@media(max-width:1024px) {
#promo .place-photo {
    height: 90%;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 5%;
    right: 0%;
    left: 0%;
}
}

@media(max-width:768px) {
#promo .place-photo {
    height: 90%;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 5%;
    right: 2%;
}
}

/*form media queries*/
@media(max-width:600px) {
    .form-group label {
        font-size: 12px;
    }

    #promo .form-group {
        width: 100%;
    }

    #promo .location-button {
        padding: 4px 10px;
        font-size: 10px;
    }

    .promo-form .form-control {
        padding: 5px;
        font-size: 12px;
    }

}

/*-----------------SUBSCRIPTION main--------------*/

.subs-section-block {
    position: relative;
    width: 100%;
}

.subs-section-block:after {
    content: " ";
    background: url("../img/coffee-bg.jpg") no-repeat fixed;
    background-position: right;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.3;
}

#main-subscription .section-text,
#main-subscription .heading-text {
    text-align: center;
}

#main-subscription .section-text {
    margin-bottom: 10px;
    margin-top: 10px;
}

@media(max-width:768px){
    .subs-section-block:after{
        background-attachment: scroll;
    }
}

/*-----------------LOCATIONS PAGE-----------------------------*/
.heading {
    max-width: 100%;
    height: auto;
    text-align: center;

}

.heading-text {

    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #763300;

}
.wrapper-loc,
.wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

.places {
    margin-top: 1rem;
    margin-right: 40px;
    border: 3px solid #aaa7a2;
    width: 100%;
    height: auto;
}

.place-top-bg {
    position: relative;
    height: 70px;
    background-image: linear-gradient(#f9f8f6, #d7b787);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.place-header {
    margin: 0;
    padding: 20px 0;
    font: 20px 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.place-top-bg h3 {
    color: #763300;
}

.place-text {
    font-size: 12px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-bottom: 0;
    font-family: "Lato", sans-serif;
}

.place-text i {
    font-size: 14px;
    color: #763300;
}

.fa-envelope:before {
    margin-right: 10px;
}
.fa-map-marker-alt:before {
    margin-right: 10px;
}
.fa-coffee:before {
    margin-right: 10px;
}


.menu-places {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    padding: 5px 10px;
    color: #5e5553;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;

}

.menu-places:hover {
    text-decoration: none;
    color: #763300;
    font-weight: 600;
}

.menu-places i {
    color: #763300;
}

/*LOCATIONS BUTTONS*/

.contact-details {
    color: #212529;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
}

.contact-details:hover,
.contact-details:focus {
    color: #763300;
    transition: all 0.2s ease-in;
}

.location-button {
    display: flex;
    justify-content: center;
    padding: 0.35em 1.2em;
    text-decoration: none;
    color: #763300;
    border: solid 1px #763300;
    font-weight: 400;
    margin: 10px auto;

    background-color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.location-button:hover {
    color: white;
    background-color: #763300;
}


button:focus {
    outline: none;
    color: white;
}

/*MAP STYLING*/

#map {
    width: auto;
    height: 98%;
    margin-top: 1rem;
}

/*MAP POP-UP STYLING*/

.popup-header {
    color: #763300;
    text-transform: uppercase;
    margin: 0 auto 8px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
}

.popup-content {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 5px 5px;
    margin-bottom: 8px;
    line-height: 1.7;
    text-align: center;
}
.popup-link-promo,
.popup-link {
    text-align: center;
    font-family: "Lato", sans-serif;
    padding: 0 5px;
    color: #5e5553;
    text-decoration: none;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.popup-link-promo {
    display: inline;
    padding: 0;
}

.popup-link-promo:hover,
.popup-link:hover {
    text-decoration: none;
    color: #763300
}

.popup-new-promo {
    text-transform: uppercase;
    color: red;
    font-family: "Lato", sans-serif;
}

@media(min-width:1024px) {
    #map {
        width: auto;
        height: 98%;
    }
}

@media(max-width:1023px) {
    #map {
        width: auto;
        height: 400px;
    }
}

@media(max-width:768px) {
    #map {
        width: auto;
        height: 400px;
    }
}


.content-text {
    line-height: 1.5;
    font-size: 20px;
}

/* MEDIA QUERIES FOR LOCATIONS*/

@media(max-width:600px) {
    .wrapper-loc {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}


/*******************************SUBSCRIBTION PAGE****************************/

.sub-options .section-text {
    text-align: center;
}

#subscribe-about {
    padding-top: 30px;
}

#subscribe-about .heading-text {
    padding-top: 20px;
    padding-bottom: 10px;
}

#subscribe-about .section-text {
    margin-top: 0;
}

/*-----FORM SUBSCRIBE------*/

#sub-btn {
    display: none;
} 


#subscribe-about button:focus,
#subscribe-opt button:focus {
    color:#f9f8f6;
    background-color: #763300;
}

.sub-options {
    border: solid 2px #aaa7a2;
    padding: 10px;
}

.coffee-form {
    position: relative;
    width: 100%;
}

.coffee-form:after {
    content: " ";
    background: url("../img/coffee-bg.jpg") no-repeat fixed;
    background-position: right;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.3;
}

@media(max-width:1024px){
#subscribe-opt h5 {
    font-size: 1.2;
    font-weight: 400;
}
}

@media(max-width:768px){
    .coffee-form:after{
        background-attachment: scroll;
    }
    #subscribe-opt {
    display: none;
} 

#subscribe-about .section-text {
    padding-top: 13px;
}

#sub-btn {
    display: block;
    font-size: 12px;
} 

.sub-options {
    margin: 10px 0;
}

}

#contact_form .form-group {
    width: 100%;
}

.coffee-form .heading-text {
    text-align: center;
    margin-bottom: 2rem;
    padding: 0;
}
input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus {
    border: 3px solid #aaa7a2;
    color: #212529;
    box-shadow: none;
    font-family: "Lato", sans-serif;
}

.form-control:focus {
    box-shadow: none;
    border: 3px solid #aaa7a2;
    color: #212529;

}

#coffeeSubForm button:focus {
    color: #763300;
    border: solid 3px #763300;
    background-color: #f9f8f6;
    font-weight: 600;
}

#contact_form button:focus {
    color: #763300;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 6.2rem;
    background-color: #5e5553;
    margin-top: 1.5rem;

}

.social-media {
    display: flex;
    justify-content: center;
    color: #f9f8f6;

}

.sm-icon {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    margin-right: 3rem;
    text-decoration: none;
    color: #f9f8f6;


}

.sm-icon a {
    color: #f9f8f6;
    font-size: 1.7rem;
    border-radius: 50%;
    border: solid #f9f8f6;
    width: 3rem;
    height: 3rem;
    text-align: center;

    display: inline-block;

}

.sm-icon a:hover,
.sm-icon a:focus {
    background-color: #f9f8f6;
    color: #d7b787;
    transition: all 0.2s ease-in;
}

.footer-text {
    margin: 0 2.5rem 15px 0;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #f9f8f6;
    text-transform: uppercase;
    padding-bottom: 0.2rem;
}

@media(max-width:768px) {
    .sm-icon {
        margin-right: 1rem;
        font-size: 12px;
    }
    .footer-text {
        margin-right: 1rem;
        font-size: 12px;
    }
}

@media(max-width:600px) {
    .sm-icon {
        margin-right: 1rem;
        
    }

    .sm-icon a {
        font-size: 17px;
        width: 2rem;
        height: 2rem;
    }

    .footer-text {
        margin-right: 0.8rem;
        font-size: 10px;
    }
}

/*-----Basic media queries------*/
@media(max-width:1024px) {
    .section-text {
        font-size: 14px;
    }
    .heading-text {
        font-size: 23px;
        text-align: center;
    }
    .section-wrapper {
        margin: 40px 20px;
    }
}

@media(max-width:768px) {
    .section-text {
        margin: 14px 0;
        font-size: 12px;
    }

    #promo .heading-text {
        margin-bottom: 0;
        text-align: center;
    }
    .section-wrapper {
        margin: 30px 30px;
    }
}

@media(max-width:600px) {
    .section-text {
        font-size: 12px;
    }
    .heading-text {
        font-size: 20px;
        text-align: center;
    }
    button .location-button a {
        font-size: 14px;
    }
}
