@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,500;0,900;1,700&family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

.wrapper {
    padding: 0px 50px;
}


/*-------NAVBAR------*/
.content-container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:  #f9f8f6;
    opacity: 0.9;
    z-index: 2;
}

.header-logo {
    text-decoration: none;
    color: #5e5553;
    font-size: 18px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    position: relative;
    z-index: 3;
}

.header-logo img {
    width: 20px;
    height: auto;
    display: inline-block;
    border-radius: 50%;
    padding-bottom: 5px;
}

.header-logo:hover {
    text-decoration: none;
    color: #d7b787
}

.header-logo i:hover {
    color: #d7b787;
}


.header-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.header-burger {
    display: none;
}

.menu-list {
    display: flex;
    position: relative;
    z-index: 2;
    margin-bottom: 0;
} 


.menu-list li {
    list-style: none;
    margin-left: 20px;
}

.menu-item {
    text-transform: uppercase;
    text-decoration: none;
    color: #5e5553;
    font-size: 18px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    margin-right: 20px;
}

.menu-item:hover {
 text-decoration: none;
 color: #d7b787;
}


@media (max-width:767px) {
   
   
    .header-body {
        height: 50px;
    }
    
    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        cursor: pointer;
    }
    .header-burger span {
        background-color: #5e5553;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease;
    }
    .header-burger:before,
    .header-burger:after {
        content: '';
        background-color: #5e5553;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease;
    }
    .header-burger:before {
        top: 0;
    }
    .header-burger:after {
        bottom: 0;
    }
    .header-burger.active span {
        transform: scale(0);
    }
    .header-burger.active:before {
        transform: rotate(45deg);
        top:9px;    
    }
    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;    
    }
    .header-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0;
        overflow: auto;
        transition: all 0.3s ease;
        background-color: #f9f8f6;
        padding: 70px 10px 20px 10px;
        text-align: center;
    }
    .header-menu.active {
        top: 0;
    }
    .menu-list {
        display: block;
    }
    .menu-list li {
        margin-bottom: 50px;
    }
    .menu-item {
        font-size: 24px;
    }
        
}

.content {
    padding-top: 60px;
}

 .section-wrapper {
     margin: 4rem 0px;
 }


/*CAROUSEL*/

.carousel-item {
    max-height: 600px;
}

.carousel-content {
position: absolute;
top: 40%;
bottom: 30%;
  left: 30%;
  right: 30%;
  z-index: 20;
  padding: 5px;
  
}

.carousel-heading {
    text-transform: uppercase;
    color: #f9f8f6;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}

.carousel-item .location-button {
    background-color: #f9f8f6;
    font-weight: 600;
}

@media (max-width:1024px) {
    .carousel-content {
position: absolute;
top: 40%;
bottom: 30%;
  left: 25%;
  right: 25%;
  z-index: 20;
  padding: 5px;
  background: rgba(240, 240, 240, .7);
}

.carousel-heading {
    font-size: 35px;
}
.carousel-content .location-button {
    
    font-size: 16px;
}


}

@media (max-width:600px) {
    .carousel-item {
    margin-top: 50px;
}
    .carousel-content {
position: absolute;
top: 20%;
bottom: 40%;
  left: 15%;
  right: 15%;
  z-index: 20;
  padding: 5px;
  background: rgba(240, 240, 240, 1);
}

.carousel-heading {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 4px;
}
.carousel-content .location-button {
    font-size: 10px;
}

}


/*ABOUT*/
.place-photo {
    width: 100%;
    overflow: hidden;
}


.place-photo img {
    height: 100%;
    width: 100%;
}

/*PROMO SECTION*/

#promo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-text {
    font-family: "Lato", sans-serif;
    margin-bottom: 5px;
}

.subheading-text {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 600;
    color: #763300;
    margin-bottom: 16px;

}

#promo .place-photo {
    height: 100%;
}

.form-group label {
    font-family: "Lato", sans-serif;
    font-weight: 500; 
    color:  #763300;
    margin-bottom: 5px;
}

#promo .location-button {
    margin: 3px;
    margin: 0 auto;
}


#promo .heading-text,
#about .heading-text,
#places .heading-text  {
    padding-top: 0px;
    margin-bottom: 1rem;
}

.break-line {
text-align: center;
margin-bottom: 1rem;
}
.break {
    display: inline-block;
    width: 20%;
    margin-bottom: 8px;
    
}

.break-line img {
    width: 20px;
    height: auto;
    display: inline-block;
    border-radius: 50%;
    padding-bottom: 5px;
}

.form-group {
    width: 90%;
}

#subscription .section-text,
#subscription .heading-text {
    text-align: center;
}

#subscription .section-text {
    margin-bottom: 10px;
    margin-top: 10px;
}




/*LOCATIONS*/
.heading {
    max-width: 100%;
    height: auto;
    text-align: center;
    
}

.heading-text {
    
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #763300;
    
}

.wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

.places {
    margin-top: 1rem;
    margin-right: 40px;
    border: 3px solid #aaa7a2;
    width: 100%;
    height: auto;
}

.place-top-bg  {
  position: relative;
  height: 70px;
  background-image: linear-gradient(#f9f8f6, #d7b787);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.place-header {
  margin: 0;
  padding: 20px 0;
  font: 20px 'Montserrat', sans-serif ;
  text-align: center;
}

.place-top-bg h3 {
  color: #763300;
}

.place-text {
    display: flex;
    font-size: 12px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-family: "Lato", sans-serif;
}

.place-text i {
    font-size: 12px;
    color: #763300;
}

.fa-envelope:before {
   margin-right: 10px; 
}
.fa-map-marker-alt:before  {
    margin-right: 10px;
}
.fa-coffee:before {
    margin-right: 10px;
}


.menu-places {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    padding: 5px 10px;
    color: #5e5553;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;

}

.menu-places:hover {
    text-decoration: none;
    color: #d7b787;
}

.menu-places i {
    color: #763300;
}

/*LOCATIONS BUTTONS*/

.location-button {
    display: flex;
    justify-content: center;
    padding: 0.35em 1.2em;
    text-decoration: none;
    color: #763300;
    border: solid 1px #763300;
    font-weight: 400;
    margin: 10px auto;
    
    background-color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.location-button:hover {
    color: white;
    background-color: #763300;
}


button:focus {
    outline: none;
    color: white;
}

/*MAP STYLING*/

#map {
    width: auto;
    height: 98%;
    margin-top: 1rem;
}

/*MAP POP-UP STYLING*/

.popup-header {
    color: #763300;
    text-transform: uppercase;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 8px;
}

.popup-content {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 0px 5px;
    margin-bottom: 8px;
    line-height: 1.7;
    text-align: center;
}
.popup-link-promo,
.popup-link {
    text-align: center;
    font-family: "Lato", sans-serif;
    padding: 0px 5px;
    color: #5e5553;
    text-decoration: none;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
}

.popup-link-promo {
    display: inline;
    padding: 0px;
}

.popup-link-promo:hover,
.popup-link:hover {
    text-decoration: none;
    color: #d7b787
}

.popup-new-promo {
    text-transform: uppercase;
    color: red;
    font-family: "Lato", sans-serif;
}

@media (max-width:1024px) {
    #map {
        width: auto;
        height: 300px;
    }
}

@media (max-width:767px) {
    #map {
        width: auto;
        height: 400px;
    }
}


.content-text {
    line-height: 1.5;
    font-size: 20px;
}

/* MEDIA QUERIES FOR LOCATIONS*/

@media (max-width:767px) {
    .wrapper{
        margin: 10px;
    }
}

/*FOOTER*/

footer {
    width: 100%;
    height: 6rem;
    background-color: #5e5553;
    margin-top: 1.5rem;
    
}

.social-media {
    display: flex;
    justify-content: center;
    color: #f9f8f6;
    
}

.sm-icon {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    margin-right: 3rem;
    text-decoration: none;
    color: #f9f8f6;
    

}

.sm-icon a {
    color: #f9f8f6;
    font-size: 1.7rem;
    border-radius: 50%;
    border:solid #f9f8f6;;
    width: 3rem;
    height: 3rem;
    text-align: center;
    
    display: inline-block;
    
}

.sm-icon a:hover,
.sm-icon a:focus
 {
    background-color:#f9f8f6;
    color: #d7b787;
    transition: all 0.2s ease-in;
}

.footer-text {
    margin:0;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #f9f8f6;
    text-transform: uppercase;
    margin-right: 2.5rem;
    padding-bottom: 0.2rem;
}

@media (max-width:767px) {
    .sm-icon{
        margin-right: 1rem;
    }
    .footer-text {
        margin-right: 1rem;
    }
}